In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
df = pd.read_csv("DCGL_contig_counts.csv")
df.shape

(99680, 9)

In [24]:
df.describe()

,DC03_AN,DC04_AN,DC13_AN,DC21_AN,DC08_AN,DC09_AN,DC12_AN,DC20_AN
count,99680.000000,99680.000000,99680.000000,99680.000000,99680.000000,99680.00000,99680.000000,99680.000000
mean,50.380357,12.035484,38.823846,33.530999,19.477518,48.13129,49.527317,36.130748
std,2364.471260,389.302350,1275.321258,1056.851709,1262.787290,2333.35577,1769.419546,1879.350525
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000
75%,5.000000,3.000000,5.000000,6.000000,1.000000,4.00000,3.000000,3.000000
max,513678.000000,77438.000000,318825.000000,219091.000000,269620.000000,525724.00000,278147.000000,388133.000000

In [25]:
#transpose
df = df.T

In [26]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,99670,99671,99672,99673,99674,99675,99676,99677,99678,99679
Unnamed: 0,TRINITY_DN100575_c0_g1_i1,TRINITY_DN100532_c0_g1_i1,TRINITY_DN100517_c0_g1_i1,TRINITY_DN100590_c0_g1_i1,TRINITY_DN100510_c0_g1_i1,TRINITY_DN100526_c0_g1_i1,TRINITY_DN100576_c0_g1_i1,TRINITY_DN100540_c0_g1_i1,TRINITY_DN100594_c0_g1_i1,TRINITY_DN100565_c0_g1_i1,...,TRINITY_DN74159_c0_g1_i1,TRINITY_DN74104_c0_g1_i1,TRINITY_DN74128_c0_g1_i1,TRINITY_DN74125_c0_g1_i1,TRINITY_DN74113_c0_g1_i1,TRINITY_DN74165_c0_g1_i1,TRINITY_DN74122_c0_g1_i1,TRINITY_DN74189_c0_g1_i1,TRINITY_DN74131_c0_g1_i1,TRINITY_DN74176_c0_g1_i1
DC03_AN,0,0,0,0,16,0,1,2,0,0,...,14,1,0,4,0,6,109,1,0,0
DC04_AN,4,0,0,2,5,0,0,0,1,0,...,4,0,0,6,0,0,25,0,1,0
DC13_AN,0,0,0,0,6,0,1,1,0,0,...,41,2,0,18,1,10,104,1,1,0
DC21_AN,0,0,1,0,15,0,0,4,0,0,...,11,2,0,25,10,11,108,0,0,1

In [27]:
#make first row the column names and then drop first row
df.columns = df.iloc[0]
df = df.iloc[1: , :]

In [28]:
df.reset_index(inplace=True)

In [29]:
df.rename(columns={"Unnamed:0":"","index":"sample"}, inplace=True)

In [30]:
df

Unnamed: 0,sample,TRINITY_DN100575_c0_g1_i1,TRINITY_DN100532_c0_g1_i1,TRINITY_DN100517_c0_g1_i1,TRINITY_DN100590_c0_g1_i1,TRINITY_DN100510_c0_g1_i1,TRINITY_DN100526_c0_g1_i1,TRINITY_DN100576_c0_g1_i1,TRINITY_DN100540_c0_g1_i1,TRINITY_DN100594_c0_g1_i1,...,TRINITY_DN74159_c0_g1_i1,TRINITY_DN74104_c0_g1_i1,TRINITY_DN74128_c0_g1_i1,TRINITY_DN74125_c0_g1_i1,TRINITY_DN74113_c0_g1_i1,TRINITY_DN74165_c0_g1_i1,TRINITY_DN74122_c0_g1_i1,TRINITY_DN74189_c0_g1_i1,TRINITY_DN74131_c0_g1_i1,TRINITY_DN74176_c0_g1_i1
0,DC03_AN,0,0,0,0,16,0,1,2,0,...,14,1,0,4,0,6,109,1,0,0
1,DC04_AN,4,0,0,2,5,0,0,0,1,...,4,0,0,6,0,0,25,0,1,0
2,DC13_AN,0,0,0,0,6,0,1,1,0,...,41,2,0,18,1,10,104,1,1,0
3,DC21_AN,0,0,1,0,15,0,0,4,0,...,11,2,0,25,10,11,108,0,0,1
4,DC08_AN,0,0,0,0,4,0,0,0,0,...,1,0,0,16,0,1,34,0,0,2
5,DC09_AN,1,0,0,1,7,0,0,0,0,...,8,4,0,14,0,5,66,2,0,0
6,DC12_AN,0,0,0,0,1,2,0,0,0,...,4,0,1,28,4,7,77,0,0,0
7,DC20_AN,0,3,0,1,6,0,0,1,0,...,8,0,0,6,1,4,37,0,0,0

In [31]:
#melt this into a different form
df_melt = pd.melt(df, id_vars="sample")
df_melt.head(25)

     sample                 Unnamed: 0 value
0   DC03_AN  TRINITY_DN100575_c0_g1_i1     0
1   DC04_AN  TRINITY_DN100575_c0_g1_i1     4
2   DC13_AN  TRINITY_DN100575_c0_g1_i1     0
3   DC21_AN  TRINITY_DN100575_c0_g1_i1     0
4   DC08_AN  TRINITY_DN100575_c0_g1_i1     0
5   DC09_AN  TRINITY_DN100575_c0_g1_i1     1
6   DC12_AN  TRINITY_DN100575_c0_g1_i1     0
7   DC20_AN  TRINITY_DN100575_c0_g1_i1     0
8   DC03_AN  TRINITY_DN100532_c0_g1_i1     0
9   DC04_AN  TRINITY_DN100532_c0_g1_i1     0
10  DC13_AN  TRINITY_DN100532_c0_g1_i1     0
11  DC21_AN  TRINITY_DN100532_c0_g1_i1     0
12  DC08_AN  TRINITY_DN100532_c0_g1_i1     0
13  DC09_AN  TRINITY_DN100532_c0_g1_i1     0
14  DC12_AN  TRINITY_DN100532_c0_g1_i1     0
15  DC20_AN  TRINITY_DN100532_c0_g1_i1     3
16  DC03_AN  TRINITY_DN100517_c0_g1_i1     0
17  DC04_AN  TRINITY_DN100517_c0_g1_i1     0
18  DC13_AN  TRINITY_DN100517_c0_g1_i1     0
19  DC21_AN  TRINITY_DN100517_c0_g1_i1     1
20  DC08_AN  TRINITY_DN100517_c0_g1_i1     0
21  DC09_AN  TRINITY_DN100517_c0_g1_i1     0
22  DC12_AN  TRINITY_DN100517_c0_g1_i1     0
23  DC20_AN  TRINITY_DN100517_c0_g1_i1     0
24  DC03_AN  TRINITY_DN100590_c0_g1_i1     0

In [32]:
meta = pd.read_csv("dc_samples_GL.csv")

In [33]:
meta.head()

    sample                                         quant_file time_point
0  DC03_AN  /Users/Lightning/Desktop/salmon_files/celeste/...         T0
1  DC04_AN  /Users/Lightning/Desktop/salmon_files/celeste/...         T0
2  DC13_AN  /Users/Lightning/Desktop/salmon_files/celeste/...         T0
3  DC21_AN  /Users/Lightning/Desktop/salmon_files/celeste/...         T0
4  DC08_AN  /Users/Lightning/Desktop/salmon_files/celeste/...         T1

In [34]:
dc_df = pd.merge(df_melt, meta[["sample", "time_point"]], on="sample")

In [35]:
dc_df.rename(columns={"Unnamed: 0": "transcript"}, inplace=True)

In [36]:
dc_df

         sample                 transcript value time_point
0       DC03_AN  TRINITY_DN100575_c0_g1_i1     0         T0
1       DC03_AN  TRINITY_DN100532_c0_g1_i1     0         T0
2       DC03_AN  TRINITY_DN100517_c0_g1_i1     0         T0
3       DC03_AN  TRINITY_DN100590_c0_g1_i1     0         T0
4       DC03_AN  TRINITY_DN100510_c0_g1_i1    16         T0
5       DC03_AN  TRINITY_DN100526_c0_g1_i1     0         T0
6       DC03_AN  TRINITY_DN100576_c0_g1_i1     1         T0
7       DC03_AN  TRINITY_DN100540_c0_g1_i1     2         T0
8       DC03_AN  TRINITY_DN100594_c0_g1_i1     0         T0
9       DC03_AN  TRINITY_DN100565_c0_g1_i1     0         T0
10      DC03_AN  TRINITY_DN100553_c0_g1_i1     0         T0
11      DC03_AN  TRINITY_DN100554_c0_g1_i1     1         T0
12      DC03_AN  TRINITY_DN100567_c0_g1_i1     0         T0
13      DC03_AN  TRINITY_DN100560_c0_g1_i1     0         T0
14      DC03_AN  TRINITY_DN100533_c0_g1_i1     0         T0
15      DC03_AN  TRINITY_DN100529_c0_g1_i1     9         T0
16      DC03_AN  TRINITY_DN100574_c0_g1_i1     0         T0
17      DC03_AN  TRINITY_DN100558_c0_g1_i1     0         T0
18      DC03_AN  TRINITY_DN100555_c0_g1_i1     7         T0
19      DC03_AN  TRINITY_DN100563_c0_g1_i1     0         T0
20      DC03_AN  TRINITY_DN100539_c0_g1_i1     2         T0
21      DC03_AN  TRINITY_DN100508_c0_g1_i1     0         T0
22      DC03_AN  TRINITY_DN100537_c0_g1_i1    14         T0
23      DC03_AN  TRINITY_DN100570_c0_g1_i1     0         T0
24      DC03_AN  TRINITY_DN100581_c0_g1_i1     0         T0
25      DC03_AN  TRINITY_DN100848_c0_g1_i1     0         T0
26      DC03_AN  TRINITY_DN100864_c0_g1_i1     0         T0
27      DC03_AN  TRINITY_DN100895_c0_g1_i1     0         T0
28      DC03_AN  TRINITY_DN100824_c0_g1_i1     0         T0
29      DC03_AN  TRINITY_DN100855_c0_g1_i1     0         T0
...         ...                        ...   ...        ...
797410  DC20_AN   TRINITY_DN73622_c0_g1_i1     0         T1
797411  DC20_AN   TRINITY_DN73693_c0_g1_i1     0         T1
797412  DC20_AN   TRINITY_DN74173_c0_g1_i1     0         T1
797413  DC20_AN   TRINITY_DN74105_c0_g1_i1     1         T1
797414  DC20_AN   TRINITY_DN74102_c0_g1_i1     0         T1
797415  DC20_AN   TRINITY_DN74151_c0_g1_i1     4         T1
797416  DC20_AN   TRINITY_DN74191_c0_g1_i1     0         T1
797417  DC20_AN   TRINITY_DN74141_c0_g1_i1     0         T1
797418  DC20_AN   TRINITY_DN74186_c0_g1_i1     0         T1
797419  DC20_AN   TRINITY_DN74146_c0_g1_i1     2         T1
797420  DC20_AN   TRINITY_DN74181_c0_g1_i1     5         T1
797421  DC20_AN   TRINITY_DN74179_c0_g1_i1     0         T1
797422  DC20_AN   TRINITY_DN74188_c0_g1_i1     0         T1
797423  DC20_AN   TRINITY_DN74123_c0_g1_i1     0         T1
797424  DC20_AN   TRINITY_DN74152_c0_g1_i1     0         T1
797425  DC20_AN   TRINITY_DN74148_c0_g1_i1     0         T1
797426  DC20_AN   TRINITY_DN74164_c0_g1_i1     1         T1
797427  DC20_AN   TRINITY_DN74157_c0_g1_i1     0         T1
797428  DC20_AN   TRINITY_DN74119_c0_g1_i1     0         T1
797429  DC20_AN   TRINITY_DN74103_c0_g1_i1     0         T1
797430  DC20_AN   TRINITY_DN74159_c0_g1_i1     8         T1
797431  DC20_AN   TRINITY_DN74104_c0_g1_i1     0         T1
797432  DC20_AN   TRINITY_DN74128_c0_g1_i1     0         T1
797433  DC20_AN   TRINITY_DN74125_c0_g1_i1     6         T1
797434  DC20_AN   TRINITY_DN74113_c0_g1_i1     1         T1
797435  DC20_AN   TRINITY_DN74165_c0_g1_i1     4         T1
797436  DC20_AN   TRINITY_DN74122_c0_g1_i1    37         T1
797437  DC20_AN   TRINITY_DN74189_c0_g1_i1     0         T1
797438  DC20_AN   TRINITY_DN74131_c0_g1_i1     0         T1
797439  DC20_AN   TRINITY_DN74176_c0_g1_i1     0         T1

[797440 rows x 4 columns]

In [16]:
#groupby transcript then by tp then .sum vales in each category?() ?

aggs = dc_df[dc_df["value"] >= 3].groupby(["transcript", "time_point"])[["value"]].count()

In [17]:
aggs

                                     value
transcript               time_point
TRINITY_DN1000_c0_g1_i1  T0              4
                         T1              3
                         T3              2
TRINITY_DN10015_c0_g1_i1 T0              1
                         T3              1
TRINITY_DN10017_c0_g1_i1 T0              1
TRINITY_DN10035_c0_g1_i1 T0              1
                         T3              1
TRINITY_DN10048_c0_g1_i1 T0              1
TRINITY_DN10049_c0_g1_i1 T0              2
                         T1              4
                         T3              3
TRINITY_DN10065_c0_g1_i1 T1              1
                         T3              2
TRINITY_DN1007_c0_g1_i1  T1              1
TRINITY_DN10086_c0_g1_i1 T1              1
TRINITY_DN10087_c0_g1_i1 T1              2
                         T3              1
TRINITY_DN10097_c0_g1_i1 T3              1
TRINITY_DN10099_c0_g1_i1 T1              1
TRINITY_DN1009_c0_g2_i1  T0              1
                         T1              1
                         T3              1
TRINITY_DN10135_c0_g1_i1 T3              2
TRINITY_DN10156_c0_g1_i1 T0              2
                         T1              1
                         T3              1
TRINITY_DN10159_c0_g1_i1 T0              2
                         T3              1
TRINITY_DN10160_c0_g1_i1 T0              1
...                                    ...
TRINITY_DN9775_c0_g1_i1  T3              1
TRINITY_DN9787_c0_g1_i1  T3              1
TRINITY_DN9799_c0_g1_i1  T1              1
                         T3              2
TRINITY_DN9811_c0_g1_i1  T0              2
                         T1              1
                         T3              1
TRINITY_DN9814_c0_g1_i1  T3              1
TRINITY_DN9824_c0_g1_i1  T0              3
                         T1              2
                         T3              1
TRINITY_DN9837_c0_g1_i1  T0              1
                         T1              2
                         T3              2
TRINITY_DN9842_c0_g1_i1  T0              1
                         T1              1
TRINITY_DN9845_c0_g1_i1  T0              1
                         T1              1
                         T3              1
TRINITY_DN9858_c0_g1_i1  T0              2
                         T1              1
                         T3              2
TRINITY_DN9872_c0_g1_i1  T0              2
                         T1              2
TRINITY_DN9909_c0_g1_i1  T0              2
                         T1              1
TRINITY_DN9951_c0_g1_i1  T1              3
TRINITY_DN997_c0_g1_i1   T0              2
                         T1              3
                         T3              1

[45484 rows x 1 columns]

In [18]:
aggs.reset_index(inplace=True) #add metadata to each row
aggs.head(10)

                 transcript time_point  value
0   TRINITY_DN1000_c0_g1_i1         T0      4
1   TRINITY_DN1000_c0_g1_i1         T1      3
2   TRINITY_DN1000_c0_g1_i1         T3      2
3  TRINITY_DN10015_c0_g1_i1         T0      1
4  TRINITY_DN10015_c0_g1_i1         T3      1
5  TRINITY_DN10017_c0_g1_i1         T0      1
6  TRINITY_DN10035_c0_g1_i1         T0      1
7  TRINITY_DN10035_c0_g1_i1         T3      1
8  TRINITY_DN10048_c0_g1_i1         T0      1
9  TRINITY_DN10049_c0_g1_i1         T0      2

In [19]:
#drop any rows that have values <3
tri_rep_transcripts = aggs[aggs["value"] >= 3] 
tri_rep_transcripts

                     transcript time_point  value
0       TRINITY_DN1000_c0_g1_i1         T0      4
1       TRINITY_DN1000_c0_g1_i1         T1      3
10     TRINITY_DN10049_c0_g1_i1         T1      4
11     TRINITY_DN10049_c0_g1_i1         T3      3
36      TRINITY_DN1041_c0_g1_i1         T1      3
50     TRINITY_DN10589_c0_g1_i1         T1      3
54     TRINITY_DN10643_c0_g1_i1         T0      4
55     TRINITY_DN10643_c0_g1_i1         T1      3
66     TRINITY_DN10712_c0_g1_i1         T1      3
85     TRINITY_DN10928_c0_g2_i1         T0      4
86     TRINITY_DN10928_c0_g2_i1         T1      4
87     TRINITY_DN10928_c0_g2_i1         T3      3
89     TRINITY_DN10938_c0_g1_i1         T1      4
90     TRINITY_DN10938_c0_g1_i1         T3      3
97     TRINITY_DN10991_c0_g1_i1         T0      4
98     TRINITY_DN10991_c0_g1_i1         T1      3
99     TRINITY_DN10991_c0_g1_i1         T3      3
100    TRINITY_DN11041_c0_g1_i1         T1      3
102    TRINITY_DN11047_c0_g1_i1         T0      4
127    TRINITY_DN11182_c0_g1_i1         T1      4
128    TRINITY_DN11182_c0_g1_i1         T3      3
130    TRINITY_DN11207_c0_g1_i1         T1      3
136    TRINITY_DN11232_c0_g1_i1         T0      4
137    TRINITY_DN11232_c0_g1_i1         T1      4
138    TRINITY_DN11232_c0_g1_i1         T3      3
149    TRINITY_DN11277_c0_g1_i1         T1      3
168    TRINITY_DN11367_c0_g1_i1         T0      3
171    TRINITY_DN11424_c0_g1_i1         T0      4
172    TRINITY_DN11424_c0_g1_i1         T1      3
173    TRINITY_DN11424_c0_g1_i1         T3      3
...                         ...        ...    ...
45351    TRINITY_DN916_c0_g1_i1         T1      3
45352    TRINITY_DN916_c0_g1_i1         T3      3
45355   TRINITY_DN9183_c0_g1_i1         T1      4
45357   TRINITY_DN9191_c0_g1_i1         T1      3
45362   TRINITY_DN9277_c0_g1_i1         T0      4
45363   TRINITY_DN9277_c0_g1_i1         T1      3
45365   TRINITY_DN9282_c0_g1_i2         T1      3
45367   TRINITY_DN9309_c0_g1_i1         T0      3
45368   TRINITY_DN9309_c0_g1_i1         T1      4
45369   TRINITY_DN9309_c0_g1_i1         T3      3
45382   TRINITY_DN9425_c0_g1_i1         T0      3
45404   TRINITY_DN9596_c0_g1_i1         T0      3
45405   TRINITY_DN9596_c0_g1_i1         T1      3
45407   TRINITY_DN9610_c0_g1_i1         T0      4
45410   TRINITY_DN9610_c0_g1_i2         T0      4
45411   TRINITY_DN9610_c0_g1_i2         T1      4
45413   TRINITY_DN9613_c0_g1_i1         T0      4
45414   TRINITY_DN9613_c0_g1_i1         T1      4
45415   TRINITY_DN9613_c0_g1_i1         T3      3
45416   TRINITY_DN9618_c0_g1_i1         T0      4
45426   TRINITY_DN9672_c0_g1_i1         T3      3
45431   TRINITY_DN9675_c0_g1_i2         T1      4
45432   TRINITY_DN9675_c0_g1_i2         T3      3
45434    TRINITY_DN969_c0_g1_i1         T0      4
45435    TRINITY_DN969_c0_g1_i1         T1      3
45436    TRINITY_DN969_c0_g1_i1         T3      3
45452   TRINITY_DN9775_c0_g1_i1         T0      4
45462   TRINITY_DN9824_c0_g1_i1         T0      3
45480   TRINITY_DN9951_c0_g1_i1         T1      3
45482    TRINITY_DN997_c0_g1_i1         T1      3

[13053 rows x 3 columns]

In [20]:
DCGL_kept = tri_rep_transcripts["transcript"].unique().tolist()

In [21]:
len(DCGL_kept)

7644

In [22]:
#save as csv
np.savetxt("DCGL_kept.csv", DCGL_kept, delimiter=",", fmt='%s')